{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order confirmed</title>
      <link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<div class="wrapper bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/01.jpg' %});">
  <div id="pageintro" class="hoc clear">
    <h1 style="font-size:400%;">Order Confirmed  :)</h1><br>
    <a  href="/"><input type="button" class="btn inverse" value="Back to Home"></a>
  </div>
</div>
</body>
</html>